.element__like {
    z-index: 2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-image: none;
    width: 22px;
    height: 19px;
    justify-self: end;
    margin-right: 30px;
    grid-area: 12/2/12/2;
    background-image: url("../../../image/elements/like-disabled.svg");
}

.element__like:hover {
    opacity: 0.5;
}