.element__like{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-image:none;
    width:22px;
    justify-self:end;
    margin-right:30px;
    grid-area: 13/2/13/2;
    background-image: url("../../../image/elements/like-disabled.png");
}
.element__like:hover{
    opacity:0.6;
}