.edit-form__form{
    border-radius: 2%;
    box-sizing: border-box;
    width: 100%;
    max-width: 430px;
    background-color:white;
    display:flex;
    padding:34px 36px 37px;
    flex-direction: column;
}
@media screen and (max-width:600px){
    .edit-form__form{
        max-width: 282px;
    }
}