.profile__profile-info_text{
    margin-left: 30px;
    align-self: center;
    display:grid;
    height: max-content;
    grid-template-areas:
    "name edit"
    "desc -";
}
@media screen and (max-width:700px){
    .profile__profile-info_text{
        margin: 0;
    }
}