.edit-form__submit{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color:#fff;

    height: 50px;
    background-color: #000;
}
.edit-form__submit:hover{
    opacity: 0.8;
}