    .profile__add-button {
        display: flex;
        justify-content: center;
        width: 146px;
        height: 50px;
        border: 2px solid #FFF;
        border-radius: 2px; 
    }
    
    .profile__add-button:hover {
        opacity: 0.6;
    }
    
    @media screen and (max-width:700px) {
        .profile__add-button {
            margin-top: 36px;
            justify-self: center;
            width: 282px;
            height: 50px;
        }
    }