.huge-img {
    visibility: hidden;
    opacity: 0;
    transition: 1s ease;
    display: flex;
    z-index: 3;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.huge-img__container {
    position: relative;
    max-width: fit-content;
    width: 85%;
}

@media screen and (max-width:320px) {
    .huge-img__container {
        max-width: 240px;
    }
}

.huge-img__close-icon {
    width: 50px;
    /*size is bigger to make actual pic more alike prototype*/
    position: absolute;
    right: -55px;
    top: -50px;
    background-size: cover;
    align-self: center;
}

.huge-img__close-icon:hover {
    opacity: 0.6;
}

@media screen and (max-width:950px) {
    .huge-img__close-icon {
        max-width: 35px;
        right: 0px;
        top: -35px;
    }
}

@media screen and (max-width:600px) {
    .huge-img__close-icon {
        max-width: 35px;
        right: 0px;
        top: -35px;
    }
}

.huge-img__name {
    margin: 10px 0 0;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
}