.profile__avatar{
    align-self: center;
    border-radius: 50%;
    max-width: 120px;
    object-fit: cover;
    max-height:120px;
}
@media screen and (max-width:700px) {
    .profile__avatar{
        margin: 42px 0 26px;
    } 
}