.profile__profile-info-edit-button{
    align-self: center;
    grid-area: edit;
    max-width: 24px;
}
.profile__profile-info-edit-button:hover{
    opacity: 0.6;
}
@media screen and (max-width:400px) {
    .profile__profile-info-edit-button{
        max-width: 18px;
    }
}