.edit-popup_input_desc {
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    height: 38px;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 48px;
}

@media screen and (max-width:600px) {
    .edit-popup_input_desc {
        margin-bottom: 41px;
    }
}