.profile__profile-info-desc{
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;

    color: #FFFFFF;
    text-overflow: ellipsis;
    max-width: 336px;
    overflow: hidden;
    white-space: nowrap;
    margin:16px 0 0;
    grid-area:desc;
}
@media screen and (max-width:700px){
    .profile__profile-info-desc{
        text-align: center;
}
}
@media screen and (max-width:400px){
    .profile__profile-info-desc{
        max-width: 282px;
        margin: 14px 0 0;
        font-size: 14px;
        line-height: 17px;
}
}