.huge-img__close-icon {
    width: 50px;
    /*size is bigger to make actual pic more alike prototype*/
    position: absolute;
    right: -55px;
    top: -50px;
    background-size: cover;
    align-self: center;
}

.huge-img__close-icon:hover {
    opacity: 0.6;
}

@media screen and (max-width:950px) {
    .huge-img__close-icon {
        max-width: 35px;
        right: 0px;
        top: -35px;
    }
}

@media screen and (max-width:600px) {
    .huge-img__close-icon {
        max-width: 35px;
        right: 0px;
        top: -35px;
    }
}
